<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logic Gates</title>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="css/template.css">

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="js/dragable.js"></script>
</head>
<body>
    <div id="header">
        <div class="logo"><b>Logic Gates Simulator</b></div>
        <div class="headerNavigation">
            <a href="/" class="w3-bar-item w3-button">Main</a>
            <a href="/help" class="w3-bar-item w3-button">Help</a>
        </div>
    </div>
    <form action="/result" method="post" style="height: 90%">
        <div id="dataIO">
            <div class="w3-container w3-dark-gray w3-center"><h3>Inputs</h3></div>
            <div class="w3-container" style="min-height: 30px">

            </div>

            <div class="w3-container w3-dark-gray w3-center"><h3>Output</h3></div>
            <div class="w3-container" style="min-height: 30px">

            </div>
        </div>
        <div id="content">
            <label class="w3-text-blue">Formula</label>
            <input class="w3-input w3-border" type="text" placeholder="Y = A & B">
            <br>
            <button class="w3-btn w3-blue">Calculate</button>
        </div>
    </form>
    <div id="footer">© 2019-2020, Volodymyr Sakharov</div>
</body>
</html>