<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logic Gates</title>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="css/template.css">

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="js/dragable.js"></script>
</head>
<body>
    <div id="header">
        <div class="logo"><b>Logic Gates Simulator</b></div>
        <div class="headerNavigation">
            <a href="/" class="w3-bar-item w3-button">Playground</a>
            <a href="/help" class="w3-bar-item w3-button">Help</a>
        </div>
    </div>
    <div id="components">
        <div class="w3-container w3-dark-gray w3-center"><h2>Inputs</h2></div>
        <div class="w3-row-padding">
            <div class="w3-col s6"><p class="w3-center">1</p></div>
            <div class="w3-col s6"><p class="w3-center">0</p></div>
        </div>

        <div class="w3-container w3-dark-gray w3-center w3-margin-top"><h2>Logic Gates</h2></div>
        <div class="w3-row-padding">
            <div class="w3-col s6"><p class="w3-center">AND</p></div>
            <div class="w3-col s6"><p class="w3-center">NAND</p></div>
        </div>
        <div class="w3-row-padding">
            <div class="w3-col s6"><p class="w3-center">OR</p></div>
            <div class="w3-col s6"><p class="w3-center">NOR</p></div>
        </div>
        <div class="w3-row-padding">
            <div class="w3-col s6"><p class="w3-center">XOR</p></div>
            <div class="w3-col s6"><p class="w3-center">XNOR</p></div>
        </div>
        <div class="w3-row-padding">
            <div class="w3-col s12"><p class="w3-center">NOT</p></div>
        </div>

        <div class="w3-container w3-dark-gray w3-center w3-margin-top"><h2>Output</h2></div>
        <div class="w3-row-padding">
            <div class="w3-col s12"><p class="w3-center">LED</p></div>
        </div>
    </div>
    <div id="content">

    </div>
    <div id="footer">© 2019-2020, Volodymyr Sakharov</div>
</body>
</html>