#header {
  font-size: large;
  background-color: #3c8dbc;
  color: white;
  margin-bottom: 10px;
}

.logo {
  width: 350px;
  margin-top: 7px;
  text-align: center;
  float: left;
}

.headerNavigation {
  margin-left: 360px;
  text-align: center;
}
